 
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #FBB13C;
  color: white;
  transform: rotateY(180deg);
}
  /* Float four columns side by side */
.column {
  float:left;
  width: 24%;
  padding: 0 2px;   
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */ 
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 15px;

  }
}
  .form-style-4{
    width: 650px;
    font-size: 20px;
    background: #8F2D56;
    padding: 80px 80px 65px 75px;
    border: 5px solid #53687E;
    height: 300px;
    margin-left: 18%;
    margin-top: 5%;  
  }
  .form-style-4 input[type=submit],
  .form-style-4 input[type=button],
  .form-style-4 input[type=text],
  .form-style-4 input[type=email],
  .form-style-4 textarea,
  .form-style-4 label
  {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
  
  }
  .form-style-4 label {
    display:block;
    margin-bottom: 20px;
  }
  .form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 200px;
  }
  .form-style-4 input[type=text],
  .form-style-4 input[type=email] 
  {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
  }
  .form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
  }
  
  .form-style-4 textarea:focus, 
  .form-style-4 input[type=text]:focus,
  .form-style-4 input[type=email]:focus,
  .form-style-4 input[type=email] :focus
  {
    border-bottom: 1px dashed #D9FFA9;
  }
  
  .form-style-4 input[type=submit],
  .form-style-4 input[type=button]{
    background: #0a74e4;
    border: 3px;
    padding: 10px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
    
  }
  .form-style-4 input[type=submit]:hover,
  .form-style-4 input[type=button]:hover{
  background: #394D61;
  }
  .heading{
    align-items: center;
  }
