<html>
    <head>
        <script type="text/javascript">
            //auto expand textarea
            function adjust_textarea(h) {
                h.style.height = "20px";
                h.style.height = (h.scrollHeight)+"px";
            }
            
            </script>
            <link rel="stylesheet" href="style.css"/>
    </head>
    <body bgcolor="#73D2DE">
        <form class = "form-style-4" action = "/" method = "post"  enctype="multipart/form-data">
            <div  style ="text-align:center;">
                <label>Product Details</label>
            </div>
            
            <label for="field1">
                <span>Enter Product Name</span><input type="text" required="true" name="ProductName"  />
            </label>
            <label for="field2">
                <span>Select the Category</span>
                <select required="true"  name = "Category" >
                    <option>Sneaker</option>
                    <option>Heels</option>
                    <option>Sandals</option>
                    <option>Flip-Flops</option>
                </select>
            </label>

            <label for="field3">
                <span>Enter The Quantity</span><input type="number" required ="true"  name="Quantity" />
            </label>

            <label for="field4">
                <span>Description</span>
                <textarea  rows="5" cols="1" name = "Description" ></textarea>
            </label>
     
            <label for="field5">
                <span>Upload Image</span>
                <input type="file" id = "myFile"  name = "Image" >
            </label>
            </br>
            <input type="submit" style='width:100px;margin:0 50%;position:relative;left:-50px; '/>
        </form>
        <hr />
 
        <!-- <h1>Uploaded Images</h1>
        <div>
          <% items.forEach(function(image) { %>
          <div>
            <div>
              <img
                src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>"
              />
              <div>
                <h5><%= image.name %></h5>
     
                <p><%= image.desc %></p>
              </div>
            </div>
          </div>
          <% }) %>
        </div> -->
    </body>
</html>